<h1>Ajout d'un nouveau personnage</h1>
<h2><small>Veuillez entrer le nom de votre personnage et selectionner le serveur dans la liste.</small></h2>
<div class="well">
    {{ form(formCreateCharacter) }}
</div>